# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [130]:
import pandas as pd
import random
import datetime as dt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [192]:
data  = pd.read_csv("wind.csv", parse_dates = [[0,1,2]])
data.head(1)

/var/folders/zn/6npf5pd5277gbjjtr2b6gy400000gn/T/ipykernel_2975/3592752431.py:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  data  = pd.read_csv("wind.csv", parse_dates = [[0,1,2]])
/var/folders/zn/6npf5pd5277gbjjtr2b6gy400000gn/T/ipykernel_2975/3592752431.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data  = pd.read_csv("wind.csv", parse_dates = [[0,1,2]])

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.5,15.04

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [193]:
a = '2061-01-01'

def year_fix(date):
    empty = []
    counter = 0
    for i in date:
        if counter == 0:
            empty.append("1")
        elif counter == 1:
            empty.append("9")
        else:
            empty.append(i)
        counter += 1
    
    b = ""
    for i in empty:
        b = b+i

    return b
    
    

data["Date"] = data["Yr_Mo_Dy"].astype("str").apply(year_fix)
data["Date"] = pd.to_datetime(data["Date"])
data.head(1)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.5,15.04,1961-01-01

In [194]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
 13  Date      6574 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(12)
memory usage: 719.2 KB

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [133]:
data.set_index("Yr_Mo_Dy", inplace = True)
data.head(1)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.5,15.04

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [134]:
data.shape[0]

6574

In [135]:
data.shape[0] - data.describe().loc["count"]

RPT    6.0
VAL    3.0
ROS    2.0
KIL    5.0
SHA    2.0
BIR    0.0
DUB    3.0
CLA    2.0
MUL    3.0
CLO    1.0
BEL    0.0
MAL    4.0
Name: count, dtype: float64

### Step 7. Compute how many non-missing values there are in total.

In [136]:
(data.shape[0] - data.describe().loc["count"]).sum()

31.0

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [109]:
data.mean().mean()

10.227982360836938

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [137]:
loc_stats = data.agg(["min", "max", "std"])
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.670000,0.210000,1.50000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.84000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
std,5.618413,5.267356,5.00845,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [138]:
min_list = pd.Series([rows.min() for index, rows in data.iterrows()])
max_list = pd.Series([rows.max() for index, rows in data.iterrows()])
mean_list = pd.Series([rows.mean() for index, rows in data.iterrows()])
std_list = pd.Series([rows.std() for index, rows in data.iterrows()])

data["min"] = ([rows.min() for index, rows in data.iterrows()])
data["max"] = ([rows.max() for index, rows in data.iterrows()])
data["mean"] = ([rows.mean() for index, rows in data.iterrows()])
data["std"] = ([rows.std() for index, rows in data.iterrows()])
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,min,max,mean,std
Yr_Mo_Dy,,,,,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,9.29,18.50,13.153077,3.071092
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,6.50,17.54,11.441538,3.545621
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,6.17,18.50,11.748462,4.042014
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1.79,11.75,6.640714,3.403233
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,6.17,13.33,10.504286,2.573737

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [158]:
data.head(1)
data["month"] = data.date.dt.month
data.groupby("month").mean().iloc[[0]]

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,min,max,mean,std,date
month,,,,,,,,,,,,,,,,,
1,14.847325,12.91456,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.55052,18.028763,6.314964,19.779946,11.972103,4.454489,2047-04-27 14:40:00

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [161]:
data["week"] = data.date.dt.isocalendar().week
data.groupby("month").agg(["min", "max", "mean"])

        RPT                     VAL                     ROS                    \
        min    max       mean   min    max       mean   min    max       mean
month
1      0.67  35.38  14.847325  0.54  33.04  12.914560  2.75  32.25  13.299624
2      0.67  33.84  13.710906  0.63  30.96  12.111122  2.37  32.71  12.879132
3      1.46  35.80  13.158687  1.50  31.63  11.505842  2.92  32.75  12.648118
4      3.42  32.58  12.555648  0.54  27.71  10.429759  1.75  30.54  12.204815
5      1.63  30.91  11.724032  1.25  26.00  10.145619  2.29  27.67  11.550394
6      1.00  23.21  10.451317  1.00  21.04   8.949704  1.83  28.58  10.361315
7      1.25  25.84   9.992007  0.96  19.41   8.357778  2.50  25.12   9.349642
8      0.96  26.38  10.213411  0.71  23.42   8.415143  2.46  27.88   9.993441
9      0.79  31.42  11.458519  0.83  28.50   9.981002  2.25  31.63  10.756883
10     1.50  29.08  12.660610  0.21  26.71  11.010681  1.96  29.54  11.453943
11     2.67  32.96  13.200722  1.21  30.34  11.639500  1.50  33.25  12.293407
12     1.21  34.37  14.446398  0.37  33.37  12.353602  2.13  33.84  13.212276

        KIL  ...       mean       std                            date  \
        min  ...       mean       min        max      mean        min
month        ...
1      0.08  ...  11.972103  1.649374   8.567119  4.454489 1975-01-01
2      0.33  ...  11.439298  1.755071   9.873535  4.246786 1975-02-01
3      0.50  ...  11.483928  1.550920   9.876216  4.031076 1975-03-01
4      0.63  ...  10.605085  1.321019   8.113623  3.682266 1975-04-01
5      0.46  ...   9.946197  1.378721   8.288206  3.564008 1975-05-01
6      0.71  ...   9.145904  1.344924   7.015928  3.371727 1975-06-01
7      0.75  ...   8.735961  1.004517   6.803653  3.295164 1975-07-01
8      0.83  ...   8.599123  1.360062   6.491792  3.331568 1975-08-01
9      0.46  ...   9.630137  1.546737   9.112507  3.783943 1975-09-01
10     0.25  ...  10.611538  1.159393   8.116478  4.153542 1975-10-01
11     0.13  ...  11.054031  0.989718  11.346593  4.628071 1975-11-01
12     0.00  ...  11.818171  1.358278  11.367201  4.672642 1975-12-01

                                               week
             max                          mean  min max       mean
month
1     2074-01-31 2047-04-27 14:40:00.000000000    1  53   4.215054
2     2074-02-28 2047-05-20 16:06:36.850393600    5   9   6.937008
3     2074-03-31 2047-06-25 20:00:00.000000000    9  14  11.168459
4     2074-04-30 2047-07-26 08:00:00.000000000   13  18   15.52037
5     2074-05-31 2047-08-25 20:00:00.000000000   17  23  19.883513
6     2074-06-30 2047-09-25 08:00:00.000000000   22  27  24.238889
7     2074-07-31 2047-10-25 20:00:00.000000000   26  31  28.591398
8     2074-08-31 2047-11-25 20:00:00.000000000   30  36  33.026882
9     2074-09-30 2047-12-26 08:00:00.000000000   35  40   37.37963
10    2074-10-31 2048-01-25 20:00:00.000000000   39  44  41.738351
11    2074-11-30 2048-02-25 08:00:00.000000000   44  49  46.096296
12    2074-12-31 2048-03-26 20:00:00.000000000    1  53  49.145161

[12 rows x 54 columns]