# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
cars1 = pd.read_csv("cars1.csv")
cars2 = pd.read_csv("cars2.csv")

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN

In [5]:
cars2.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1.drop(columns = ["Unnamed: 9", "Unnamed: 10", "Unnamed: 11", "Unnamed: 12", "Unnamed: 13"], inplace = True)
cars1.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu

### Step 5. What is the number of observations in each dataset?

In [10]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [15]:
cars = pd.concat([cars1, cars2], join = "inner")
cars.head(1)
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 398 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [30]:
import random 

owners = [random.randint(15000, 73000) for i in range(0,199)]

cars["owners"] = pd.Series(owners)

cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,57590.0
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,39963.0
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,64292.0
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,51257.0
4,17.0,8,302,140,3449,10.5,70,1,ford torino,25281.0
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,16792.0
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,53594.0
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,49221.0
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,40762.0
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,NaN

### Step 8. Add the column owners to cars

In [22]:
for i in range(0, 2): 
    print(i)

0
1