# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [5]:
invest = pd.read_csv("Invest.csv", parse_dates= ["Date"])
invest.head()
invest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             159 non-null    datetime64[ns]
 1   Total Equity     159 non-null    int64
 2   Domestic Equity  50 non-null     float64
 3   World Equity     159 non-null    int64
 4   Hybrid           50 non-null     float64
 5   Total Bond       159 non-null    int64
 6   Taxable Bond     50 non-null     float64
 7   Municipal Bond   159 non-null    int64
 8   Total            50 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(4)
memory usage: 11.3 KB

### Step 4.  What is the frequency of the dataset?

In [6]:
##weekly

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
1,2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2,2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
3,2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
4,2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0

### Step 5. Set the column Date as the index.

In [10]:
invest.set_index("Date", inplace = True)
invest.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0

### Step 6. What is the type of the index?

In [11]:
invest.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 159 entries, 2011-10-05 to 2024-12-31
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Total Equity     159 non-null    int64
 1   Domestic Equity  50 non-null     float64
 2   World Equity     159 non-null    int64
 3   Hybrid           50 non-null     float64
 4   Total Bond       159 non-null    int64
 5   Taxable Bond     50 non-null     float64
 6   Municipal Bond   159 non-null    int64
 7   Total            50 non-null     float64
dtypes: float64(4), int64(4)
memory usage: 11.2 KB

### Step 7. Set the index to a DatetimeIndex type

In [15]:
invest.index = pd.to_datetime(invest.index)
invest

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
...,...,...,...,...,...,...,...,...
2024-12-04,27170,NaN,22014,NaN,22510,NaN,-496,NaN
2024-12-11,36551,NaN,28883,NaN,29251,NaN,-368,NaN
2024-12-18,23053,NaN,27124,NaN,20767,NaN,6358,NaN
2024-12-24,35211,NaN,36142,NaN,32529,NaN,3613,NaN
2024-12-31,26027,NaN,21578,NaN,19932,NaN,1646,NaN

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [19]:
invest_monthly = invest.resample("ME").sum()
invest_monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2011-12-31,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-01-31,0,0.0,0,0.0,0,0.0,0,0.0
2012-02-29,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...
2024-08-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-09-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-10-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-12-31,148012,0.0,135741,0.0,124989,0.0,10753,0.0

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [20]:
invest_monthly.dropna(axis = 0)

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2011-12-31,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-01-31,0,0.0,0,0.0,0,0.0,0,0.0
2012-02-29,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...
2024-08-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-09-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-10-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-12-31,148012,0.0,135741,0.0,124989,0.0,10753,0.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [22]:
invest_yearly = invest.resample("YE").sum()
invest_yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-12-31,-42044,-33464.0,-8581,5583.0,22505,16176.0,6332,-13953.0
2012-12-31,-23929,-22012.0,-1915,785.0,9828,12491.0,-2663,-13316.0
2013-12-31,8052,-5562.0,13615,4180.0,-24460,-14209.0,-10251,-12227.0
2014-12-31,-17011,-15124.0,-1887,-6141.0,-14400,-19014.0,4614,-37552.0
2015-12-31,-36337,-25116.0,-11221,-12474.0,-28678,-34571.0,5893,-77489.0
2016-12-31,0,0.0,0,0.0,0,0.0,0,0.0
2017-12-31,-51270,-54927.0,3657,-10514.0,26158,26360.0,-204,-35625.0
2018-12-31,0,0.0,0,0.0,0,0.0,0,0.0
2019-12-31,-58200,-48830.0,-9370,-10874.0,37307,20486.0,16820,-31766.0
2020-12-31,-66618,-40387.0,-26231,-2972.0,60423,50781.0,9643,-9170.0
2021-12-31,0,0.0,0,0.0,0,0.0,0,0.0
2022-12-31,303588,0.0,197245,0.0,159480,0.0,37764,0.0
2023-12-31,577206,0.0,383914,0.0,301690,0.0,82222,0.0
2024-12-31,649200,0.0,498263,0.0,437314,0.0,60947,0.0

### BONUS: Create your own question and answer it.