In [3]:
def all_lower():
    text = input("What do you want to be converted to lower case")
    return text.lower()

In [2]:
a = "SHUBHAM GUPTA CS50"
a.lower()

'shubham gupta cs50'

In [4]:
a = "shubham gupta"
"...".join(a.split())

'shubham...gupta'

In [5]:
a = "üòê"
print(a)

üòê

In [7]:
text = "My name is Shubham :)  "
text.replace(":)", "üôÅ")
print(text)

My name is Shubham :)

In [9]:
a = "$50.00"
type(float(a[1:]))

float

In [13]:
a = "15%"
float(a[:-1])/100

0.15

In [20]:
greeting_var = "   how you doing  "
print(greeting_var.strip().split()[0][].lower)
if greeting_var.strip().split()[0].lower == "hello":
    print("$100")    
else:
    print("0")

<built-in method lower of str object at 0x1072b0b70>
0

In [22]:
a = "cat.gif"
a[-4:].lower()

'.gif'

In [23]:
a = 0700
if a == 700:
    print("True")

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (321057769.py, line 1)

In [27]:
a = "7:00"
int(a.split(":")[0] + a.split(":")[1])

700

In [28]:
a = "H"
a.isupper()

True

In [29]:
a = "Shubh"
len(a) in range(2,8)

True

In [32]:
fruit_calories = {
    "Apple": 130,
    "Avocado": 50,
    "Banana": 110,
    "Cantaloupe": 50,
    "Grapefruit": 60,
    "Grapes": 90,
    "Honeydew Melon": 50,
    "Kiwifruit": 90,
    "Lemon": 15,
    "Lime": 20,
    "Nectarine": 60,
    "Orange": 80,
    "Peach": 60,
    "Pear": 100,
    "Pineapple": 50,
    "Plums": 70,
    "Strawberries": 50,
    "Sweet Cherries": 100,
    "Tangerine": 50,
    "Watermelon": 80
}
item = "apPLe"
print(item.lower())
print(f"Calories: {fruit_calories[item.lower()]}")

apple

KeyError: 'apple'

In [35]:
str(int((4/5)*100))+"%"

'80%'

In [5]:
numbers = [str(i) for i in range(10)]
print(numbers)
while True:
    try:
        fraction = input("Fraction: ")
        if len(fraction) == 3 and fraction[0] in numbers and fraction[2] in numbers and fraction[1] == "/" and fraction[2] != "0" and int(fraction[0]) =< int(fraction[2]):
            break
    except:
        print("Invalid input, pls try again")
print(fraction)
percent = int((int(fraction[0])/int(fraction[2]))*100)
if percent >= 99:
    print("F")
elif percent <= 1:
    print("E")
else:
    print(str(percent)+"%")

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

Fraction:  4/4
Fraction:  3/4

3/4
75%

In [8]:
while True:
    try:
        fraction = input("Fraction: ")
        if fraction.lower() in ["exit", "quit"]:
            break

        num, denom = fraction.split("/")
        num = int(num)
        print(f"numerator is {num}")
        denom = int(denom)
        print(f"denominator is {denom}")

        if denom == 0 or num > denom:
            raise ValueError
        print("Denominator is zero , raising value error")
        percent = int((num / denom) * 100)
        if percent >= 99:
            print("F")
        elif percent <= 1:
            print("E")
        else:
            print(f"{percent}%")
        break

    except (ValueError, ZeroDivisionError):
        print("Invalid input, pls try again")

Fraction:  4/0

numerator is 4
denominator is 0
Invalid input, pls try again

Fraction:  3/4

numerator is 3
denominator is 4
Denominator is zero , raising value error
75%

In [16]:
menu = {
    "Baja Taco": 4.25,
    "Burrito": 7.50,
    "Bowl": 8.50,
    "Nachos": 11.00,
    "Quesadilla": 8.50,
    "Super Burrito": 8.50,
    "Super Quesadilla": 9.50,
    "Taco": 3.00,
    "Tortilla Salad": 8.00}
total = 0
while True:
    try:
        item = input("Input: ")
        if item.lower() in ["exit", "quit"]:
            break
        total += menu[item.title()]
        print("Total is $"+str(total))

    except:
        print("Invalid inputs pls try again")

Input:  Taco

Total is $3.0

Input:  Burrito

Total is $10.5

Input:  exit

In [13]:
3+5.4

8.4

In [17]:
a  = "9/8/1976"
a[0]

SyntaxError: invalid syntax (1385562666.py, line 1)

In [27]:
a = "20/30/1986"
a[-10:-8]

'20'

In [22]:
a = "0020"
int(a)

20

In [26]:
20 in range(15, 30)

True

In [31]:
a = "September 18, 1636"

a.split()[1][:-1]

'18'

In [39]:
months = {'january': 1,'february': 2, 'march': 3, 'april': 4, 'may': 5, 'june': 6, 'july': 7,  'august': 8, 'september': 9, 'october': 10, 'november': 11,'december': 12}

while True:
    try:
        user_date = input("Please enter a valid date in month-day-year order format: ")
        ##conditions for 1st format mm/dd/yyyy
        temp_list = user_date.split()
        if user_date.lower() in ["exit", "quit"]:
            break
        elif int(user_date[-4:]) in range(1, 2026) and user_date[-5] == user_date [-8] == "/" and int(user_date[-7:-5]) in range(1, 32) and int(user_date[-10:-8]) in range(1, 13):
            print("You tried numeric inputs")
            formatted_date = user_date[-4:]+"-"+user_date[-10:-8]+"-"+user_date[-7:-5]
            print(formatted_date)
            break 

        elif temp_list[0].lower() in months and int(temp_list[-1]) in range(1, 2025) and int(temp_list[1][:-1]) in range(1,32):
            print("You tried non numeric inputs")
            formatted_date = temp_list[-1]+"-"+str(months[temp_list[0].lower()])+"-"+temp_list[1][:-1]
            print(formatted_date)
            break
    except: 
        print("Invalid inputs, pls try again")

Please enter a valid date in month-day-year order format:  September 8, 1636

You tried non numeric inputs
1636-9-8

In [45]:
user_date = "09/08/1636"
user_date[-5] == user_date [-8] == "/"
int(user_date[-7:-5]) in range(1, 32) and int(user_date[-10:-8]) in range(1, 13)

True

In [47]:

a =20
b = 10
mean(a, b)

NameError: name 'mean' is not defined

In [48]:
with open("names.txt", "w") as file:
    file.write("Shubham Gupta")

In [50]:
import emoji

def main():
    text = input("Input a text you want to be converted: ")
    print(convert_emoji(text))

def convert_emoji(text):
    return emoji.emojize(text, language= "alias")

main()

Input a text you want to be converted:  sdfa

sdfa

In [77]:
name_list = ["Liesel", "Friedrich", "Louisia", "Shubham"]
return_str = ""
for i in name_list:
    return_str += "," + " " + i 

print(return_str)
return_list = return_str.split()
print(return_list)
for i in range(len(return_list)):
    if i == 0:
        return_list[i] = "to "

    elif i ==len(return_list) - 1:
        return_list[-1] = "and " + return_list[-1]
    else:
        return_list[i] = return_list[i] + " "
''.join(return_list)

, Liesel, Friedrich, Louisia, Shubham
[',', 'Liesel,', 'Friedrich,', 'Louisia,', 'Shubham']

'to Liesel, Friedrich, Louisia, and Shubham'

In [80]:
import random

random.randint(1,2)

2

In [94]:
import random
level = 3
num1 = ''.join([str(random.randint(0,9)) for _ in range(level)])
num2 = ''.join([str(random.randint(0,9)) for _ in range(level)])
input(f"{num1} + {num2}: ")

705 + 124:  sdas

'sdas'

In [101]:
import requests
API_KEY = "49c54815e34fca04f8f42bcbc86f28e454f7ea05c5f4e2f0bfe06f6015b28c1b"
URL = "https://rest.coincap.io/v3/assets/bitcoin?apiKey="+API_KEY 

response = requests.get(URL)
round(float(response.json()["data"]["priceUsd"])*4, 4)

439914.7108

In [105]:
a = "         "
type(a.strip())

str

In [106]:
final_list = []
temp_list = [['name', 'house'], ['Abbott, Hannah', 'Hufflepuff'], ['Bell, Katie', 'Gryffindor'], ['Bones, Susan', 'Hufflepuff'], ['Boot, Terry', 'Ravenclaw'], ['Brown, Lavender', 'Gryffindor'], ['Bulstrode, Millicent', 'Slytherin'], ['Chang, Cho', 'Ravenclaw'], ['Clearwater, Penelope', 'Ravenclaw'], ['Crabbe, Vincent', 'Slytherin'], ['Creevey, Colin', 'Gryffindor'], ['Creevey, Dennis', 'Gryffindor'], ['Diggory, Cedric', 'Hufflepuff'], ['Edgecombe, Marietta', 'Ravenclaw'], ['Finch-Fletchley, Justin', 'Hufflepuff'], ['Finnigan, Seamus', 'Gryffindor'], ['Goldstein, Anthony', 'Ravenclaw'], ['Goyle, Gregory', 'Slytherin'], ['Granger, Hermione', 'Gryffindor'], ['Johnson, Angelina', 'Gryffindor'], ['Jordan, Lee', 'Gryffindor'], ['Longbottom, Neville', 'Gryffindor'], ['Lovegood, Luna', 'Ravenclaw'], ['Lupin, Remus', 'Gryffindor'], ['Malfoy, Draco', 'Slytherin'], ['Malfoy, Scorpius', 'Slytherin'], ['Macmillan, Ernie', 'Hufflepuff'], ['McGonagall, Minerva', 'Gryffindor'], ['Midgen, Eloise', 'Gryffindor'], ['McLaggen, Cormac', 'Gryffindor'], ['Montague, Graham', 'Slytherin'], ['Nott, Theodore', 'Slytherin'], ['Parkinson, Pansy', 'Slytherin'], ['Patil, Padma', 'Gryffindor'], ['Patil, Parvati', 'Gryffindor'], ['Potter, Harry', 'Gryffindor'], ['Riddle, Tom', 'Slytherin'], ['Robins, Demelza', 'Gryffindor'], ['Scamander, Newt', 'Hufflepuff'], ['Slughorn, Horace', 'Slytherin'], ['Smith, Zacharias', 'Hufflepuff'], ['Snape, Severus', 'Slytherin'], ['Spinnet, Alicia', 'Gryffindor'], ['Sprout, Pomona', 'Hufflepuff'], ['Thomas, Dean', 'Gryffindor'], ['Vane, Romilda', 'Gryffindor'], ['Warren, Myrtle', 'Ravenclaw'], ['Weasley, Fred', 'Gryffindor'], ['Weasley, George', 'Gryffindor'], ['Weasley, Ginny', 'Gryffindor'], ['Weasley, Percy', 'Gryffindor'], ['Weasley, Ron', 'Gryffindor'], ['Wood, Oliver', 'Gryffindor'], ['Zabini, Blaise', 'Slytherin']]
for i in temp_list[1:]:
    temp2_list = []
    temp2_list.append(i[0].split(",")[0])
    temp2_list.append(i[0].split(",")[1])
    temp2_list.append(i[1])
    final_list.append(temp2_list)

final_list

[['Abbott', ' Hannah', 'Hufflepuff'],
 ['Bell', ' Katie', 'Gryffindor'],
 ['Bones', ' Susan', 'Hufflepuff'],
 ['Boot', ' Terry', 'Ravenclaw'],
 ['Brown', ' Lavender', 'Gryffindor'],
 ['Bulstrode', ' Millicent', 'Slytherin'],
 ['Chang', ' Cho', 'Ravenclaw'],
 ['Clearwater', ' Penelope', 'Ravenclaw'],
 ['Crabbe', ' Vincent', 'Slytherin'],
 ['Creevey', ' Colin', 'Gryffindor'],
 ['Creevey', ' Dennis', 'Gryffindor'],
 ['Diggory', ' Cedric', 'Hufflepuff'],
 ['Edgecombe', ' Marietta', 'Ravenclaw'],
 ['Finch-Fletchley', ' Justin', 'Hufflepuff'],
 ['Finnigan', ' Seamus', 'Gryffindor'],
 ['Goldstein', ' Anthony', 'Ravenclaw'],
 ['Goyle', ' Gregory', 'Slytherin'],
 ['Granger', ' Hermione', 'Gryffindor'],
 ['Johnson', ' Angelina', 'Gryffindor'],
 ['Jordan', ' Lee', 'Gryffindor'],
 ['Longbottom', ' Neville', 'Gryffindor'],
 ['Lovegood', ' Luna', 'Ravenclaw'],
 ['Lupin', ' Remus', 'Gryffindor'],
 ['Malfoy', ' Draco', 'Slytherin'],
 ['Malfoy', ' Scorpius', 'Slytherin'],
 ['Macmillan', ' Ernie', 'Hufflepuff'],
 ['McGonagall', ' Minerva', 'Gryffindor'],
 ['Midgen', ' Eloise', 'Gryffindor'],
 ['McLaggen', ' Cormac', 'Gryffindor'],
 ['Montague', ' Graham', 'Slytherin'],
 ['Nott', ' Theodore', 'Slytherin'],
 ['Parkinson', ' Pansy', 'Slytherin'],
 ['Patil', ' Padma', 'Gryffindor'],
 ['Patil', ' Parvati', 'Gryffindor'],
 ['Potter', ' Harry', 'Gryffindor'],
 ['Riddle', ' Tom', 'Slytherin'],
 ['Robins', ' Demelza', 'Gryffindor'],
 ['Scamander', ' Newt', 'Hufflepuff'],
 ['Slughorn', ' Horace', 'Slytherin'],
 ['Smith', ' Zacharias', 'Hufflepuff'],
 ['Snape', ' Severus', 'Slytherin'],
 ['Spinnet', ' Alicia', 'Gryffindor'],
 ['Sprout', ' Pomona', 'Hufflepuff'],
 ['Thomas', ' Dean', 'Gryffindor'],
 ['Vane', ' Romilda', 'Gryffindor'],
 ['Warren', ' Myrtle', 'Ravenclaw'],
 ['Weasley', ' Fred', 'Gryffindor'],
 ['Weasley', ' George', 'Gryffindor'],
 ['Weasley', ' Ginny', 'Gryffindor'],
 ['Weasley', ' Percy', 'Gryffindor'],
 ['Weasley', ' Ron', 'Gryffindor'],
 ['Wood', ' Oliver', 'Gryffindor'],
 ['Zabini', ' Blaise', 'Slytherin']]

In [107]:
a = [10,2,4]
*a

SyntaxError: can't use starred expression here (407847524.py, line 2)

In [113]:
first , last = input("Enter your first and last name").split()
print(first)
print(last)

Enter your first and last name shubham survi

shubham
survi

In [114]:
first, last = [1,2]
print(first)
print(last)

1
2

In [117]:
def f(*args, **kwargs):
    print("Args: ", args)
    print("Kwargs: ", kwargs)

f(100,200,300, name = "Shubham")

Args:  (100, 200, 300)
Kwargs:  {'name': 'Shubham'}

In [120]:
def check():
    a = ["Shuhbam", "Gupta"]
    print(*a)



check()

Shuhbam Gupta

In [122]:
def main():
    yell("This", "is", "CS50")

def yell(*words):
    print(words)
    print(type(words))
    uppercased = map(str.upper, words)
    print(type(uppercased))
    print(uppercased)
    print(*uppercased)

main()

('This', 'is', 'CS50')
<class 'tuple'>
<class 'map'>
<map object at 0x107b5a530>
THIS IS CS50

In [124]:

print(range(1,12))

range(1, 12)

In [129]:
import re

email = input("Email: ").strip()

if re.search(r"^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.(com|edu)$", email):
    print("valid")
else:
    print("invalid")

Email:  shubham@harvard.com

valid

In [130]:
a = "shubham"

for index, char in enumerate(a):
    print(index)

0
1
2
3
4
5
6