# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("chipotle.csv")

### Step 4. How many products cost more than $10.00?

In [5]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [6]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: x.strip("$")).astype("float")
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [8]:
filter_10 = chipo["item_price"] > 10 
chipo[filter_10].item_name.nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [10]:
chipo.groupby("item_name")

### Step 6. Sort by the name of the item

In [30]:
df = chipo[["item_name", "item_price"]]
df.sort_values("item_name").head(10)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
3422  6 Pack Soft Drink        6.49
553   6 Pack Soft Drink        6.49
1916  6 Pack Soft Drink        6.49
1922  6 Pack Soft Drink        6.49
1937  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [16]:
expensive = chipo["item_price"] == chipo["item_price"].max()
chipo[expensive].head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [22]:
veggie = chipo["item_name"] == "Veggie Salad Bowl"
chipo[veggie].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [24]:
soda = chipo["item_name"] == "Canned Soda"
qty = chipo["quantity"] > 1

In [26]:
chipo[soda & qty].shape

(20, 5)