<h2> Basic Functions

In [1]:
def say_hello():
    print('hello')
    print('how')

In [2]:
say_hello()

hello
how

In [3]:
def say_hello(name = 'Default'): 
    print(f'hello  {name}')

In [4]:
say_hello('Shubham') #in case argument is not passed, then it will pring hello default

hello  Shubham

In [5]:
def add_num(num1, num2):
    return num1+num2 #since I am using return I can assign it to a variable

In [6]:
myvalue = add_num(1,3)
myvalue

4

In [7]:
def add_num(num1, num2):
    print(num1+num2) #since I am using return I can assign it to a variable

In [8]:
myvalue = add_num(1,3) #if I call myvaluen ow function will not assign any value to it as we have used the print statement

4

In [9]:
myvalue ##no value is being returned here

In [10]:
add_num("10","2") #it will oncatenate

102

<h2> Functions with logic

In [11]:
def even_check(num1):
    return num1 % 2 == 0

In [12]:
even_check(13)

False

In [13]:
#return if even no is inside of a list

def check_even_list(a_list):
    for i in a_list:
        if i%2 == 0:
            return True
        else:
            pass 
    return False #if return True is not available in the list then only after going through each element will it return false

In [14]:
check_even_list([3,4,6,7])

True

In [15]:
#return all the even nos in the list

def check_even_list(a_list):
    
    even_numbers = []
    for i in a_list:
        if i%2 == 0:
            even_numbers.append(i)
        else:
            pass 
    return even_numbers

In [16]:
check_even_list([3,4,6,7])

[4, 6]

<h2> Tuple unpacking with functions

In [17]:
stock_prices = [('apl', 100), ('jio', 200), ('adani', 300)]

for item in stock_prices:
    print(item)

('apl', 100)
('jio', 200)
('adani', 300)

In [18]:
for ticker,price in stock_prices:
    print(ticker)

apl
jio
adani

In [19]:
work_hours = [('A', 100), ('B',150), ('C', 200)]

In [20]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''

    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
            
        else:
            pass

    return (employee_of_month, current_max)

In [21]:
employee_check(work_hours)

('C', 200)

In [22]:
name, hours = employee_check(work_hours)

In [23]:
name

'C'

<h2> Interactions b/w functions

In [24]:
from random import shuffle
example = [1,2,3,4,5,6,7]

In [25]:
def shuffle_list(mylist):
    shuffle(mylist)
    return(mylist)

In [26]:
shuffle_list(example)

[1, 6, 4, 2, 3, 5, 7]

In [27]:
mylist = ['', 'O','']

In [28]:
shuffle_list(mylist)

['O', '', '']

In [29]:
def player_guess():

    guess = ''
    while guess  not in ['0','1','2']:
        guess = input('pick a number:0,1,2')

    return int(guess)

In [30]:
player_guess()

pick a number:0,1,2 1

1

In [32]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print('Correct')
    else:
        print("Wrong Guess")
        print(mylist)

In [38]:
#Initial List

mylist = ['','O','']
#shuffle_list

mixedup_list = shuffle_list(mylist)

#user guess
guess = player_guess()

#check_guess
check_guess(mixedup_list, guess)

pick a number:0,1,2 1

Correct

<h2> *args and **kwargs - Arguments and Keywrod Arguments

In [4]:
def myfunc(a,b, c = 0, d=0, e = 0): #in this case we do not knwo hwo many paramenters the user wants to pass so we arbitrarily have added 5 params
    #returns 5% of the sum of a and b
    return (a+b)*0.05

In [5]:
myfunc(1,10)

0.55

In [9]:
#when we dont know how many params ar to be used we can use args

def arg_func(*args):  #args as a word is an arbit choice , as long as it is preceded by an astrik 
    return sum(args)*0.05

In [10]:
arg_func(1,2,3,242341,2123,123,12,342,31,23123123) #here we have not defined no of params but still we are able to execute it

1168405.05

In [11]:
def my_func(*args):
    for item in args:
        print(item)

In [12]:
my_func(1,2,123,41231,231,23,123,12312,3123,1,231,231,31,23123)

1
2
123
41231
231
23
123
12312
3123
1
231
231
31
23123

In [22]:
def myfunc(**kwargs): #kwawrgs returns a dictionary
    print(kwargs)
    if 'fruit' in kwargs:
        print(f'My choice of fruits is {kwargs['fruit']}')
    else:
        print('I did not find any fruit here')

In [23]:
myfunc(fruit = 'orange')

{'fruit': 'orange'}
My choice of fruits is orange

In [26]:
def myfunc(*args, **kwargs):
    print(f'I would like to have {args[0]} and {kwargs['fruit']}')

In [28]:
myfunc(1,2,32,31,3123,1, fruit = "orange")

I would like to have 1 and orange

In [29]:
a = "My name is Shubham Gupta"
a.split()

['My', 'name', 'is', 'Shubham', 'Gupta']

<h2> Lamda expressions , maps and filters

In [31]:
def square(num):
    return num**2

In [36]:
## If I have to use the function on a list ,I can use the map function

list1 = [1,2,3,4,5,6]
for i in map(square, list1):
    print(i)

1
4
9
16
25
36

In [37]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [38]:
names = ['Andy', 'Eve', 'Sally']

In [39]:
list(map(splicer, names))

['Even', 'E', 'S']

In [40]:
list(filter(splicer, names))

['Andy', 'Eve', 'Sally']

In [44]:
## we can use a filter function to filter out specific elements from a list

def even_check(nums):
    return nums%2 == 0

list1 = [1,2,3,4,2]

list(filter(even_check, list1))

[2, 4, 2]

<h2> Lambda are anonymous functions which you may want to clal only once

In [3]:
square = lambda num:num**2

In [4]:
square(5)

25

In [6]:
mynums = [1,2,123,12]

In [7]:
list(map(lambda num:num**2, mynums))

[1, 4, 15129, 144]

In [8]:
list(filter(lambda num:num%2== 0, mynums))

[2, 12]

In [10]:
names = ['adam', 'eve']

In [11]:
list(map(lambda x:x[::-1], names))

['mada', 'eve']

<h2> Nested statements and scope

In [13]:
x =  25

def printer():
    x = 50
    return x

In [15]:
print(x)  ##becase we are not calling the fucntion x will take precedence

25

In [16]:
print(printer())

50

<h2> LEGB rule

<h4>Local <br> Enclosing function locals - for functions within a function <br>
Global <br>
Builtin <h2>

In [22]:
#Global
name = "This is a global string"

def greet():
    #enclosing
    name = "Sammy"
    
    def hello():
        #Local
        print("Hello " +  name) ##this first checks if name is defined in hello function, then checks in greet function and there it finds it so it stops

    hello()

greet()

Hello This is a global string

In [26]:
x = 50

def func(x):
    print(f'X is {x}')
    
    #Local 
    x  = 200 ##scope only local to function 
    print(f'I just locally changed X to {x}')

In [27]:
func(x)

print(x)

X is 50
I just locally changed X to 200
50

In [31]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    #Local 
    x  = 200 ##this will cahnge the global variable as well
    print(f'I just locally changed X to {x}')

In [35]:
print(x) ##variable will be reassigned only when I run the function

200

In [33]:
func()

X is 50
I just locally changed X to 200

In [34]:
print(x)

200