# Adding & Removing Columns Exercise

In [2]:
import pandas as pd
joe = pd.read_csv("data/JoeBidenTweets.csv", index_col = "id")
joe.head(1)

,timestamp,url,tweet,replies,retweets,quotes,likes
id,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11

In [40]:
#Import the JoeBidenTweets.csv dataset.  Use the tweet "id" as the index
## done

In [4]:
#Drop the "url" column (NOT inplace)
joe.drop(columns = "url").head(1)

,timestamp,tweet,replies,retweets,quotes,likes
id,,,,,,
361388562,2007-10-24 22:45,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11

In [6]:
#Drop the row with the id of 361388562(NOT inplace)
joe.drop(361388562).head(2)

,timestamp,url,tweet,replies,retweets,quotes,likes
id,,,,,,,
543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22
189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20

In [7]:
#Add a new column called "user".  Set it to "Joe Biden" for all rows
joe["user"] = "Joe Biden"
joe.head(1)

,timestamp,url,tweet,replies,retweets,quotes,likes,user
id,,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11,Joe Biden

In [8]:
#Create a new column called "ratio".  It should contain the result of dividing each tweet's replies by its retweets
joe["ratio"] = joe["replies"]/joe["retweets"]
joe.head(1)

,timestamp,url,tweet,replies,retweets,quotes,likes,user,ratio
id,,,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11,Joe Biden,3.8

In [10]:
#Find the top 10 highest ratio tweets
joe.sort_values("ratio", ascending  = False).head(1)

,timestamp,url,tweet,replies,retweets,quotes,likes,user,ratio
id,,,,,,,,,
232971730119950338,2012-08-07 22:49,https://twitter.com/JoeBiden/status/2329717301...,Introducing the Obama Classic—your chance to j...,10,1,0,9,Joe Biden,10.0

In [11]:
#Create a column called "interactions" that contains the sum of each tweet's replies, retweets, quotes, and likes
joe["interactions"] = joe["replies"] + joe["retweets"] + joe["quotes"] + joe["likes"]
joe.head(1)

,timestamp,url,tweet,replies,retweets,quotes,likes,user,ratio,interactions
id,,,,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11,Joe Biden,3.8,52

In [12]:
#Find the top 8 tweets by number of "interactions"
joe.sort_values("interactions", ascending = False).head(5)

,timestamp,url,tweet,replies,retweets,quotes,likes,user,ratio,interactions
id,,,,,,,,,,
1311120831032909825,2020-09-30 01:49,https://twitter.com/JoeBiden/status/1311120831...,Donald Trump is the worst president we've ever...,49057,318027,35763,1890946,Joe Biden,0.154254,2293793
1253751812194070529,2020-04-24 18:25,https://twitter.com/JoeBiden/status/1253751812...,"I can’t believe I have to say this, but please...",71924,326070,38806,1636272,Joe Biden,0.220578,2073072
1317978773707345920,2020-10-19 00:00,https://twitter.com/JoeBiden/status/1317978773...,Wear a mask. Wash your hands. Vote out Donald ...,44558,219653,13854,1334092,Joe Biden,0.202856,1612157
1318170176660135936,2020-10-19 12:40,https://twitter.com/JoeBiden/status/1318170176...,...yes https://t.co/RzZ3j3zoAL,15487,182789,8444,1287576,Joe Biden,0.084726,1494296
1312460408192724992,2020-10-03 18:32,https://twitter.com/JoeBiden/status/1312460408...,"One month until Election Day. Let’s do this, A...",30247,118161,8363,1167079,Joe Biden,0.255981,1323850