# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import datetime as dt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [25]:
crime = pd.read_csv("US_Crime_Rates_1960_2014.csv")
crime.head(1)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200

### Step 4. What is the type of the columns?

In [3]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [26]:
crime["Year"] = pd.to_datetime(crime["Year"].astype(str), format = '%Y').dt.year
crime.head(2)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

### Step 6. Set the Year column as the index of the dataframe

In [28]:
crime.set_index("Year").head(1)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200

### Step 7. Delete the Total column

In [31]:
crime.drop(columns = ["Total"])
crime.head(1)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [43]:
def decade(year):
    if year >= 1960 and year <1970:
        return "60s"
    elif year >= 1970 and year <1980:
        return "70s"
    elif year >= 1980 and year <1990:
        return "80s"
    elif year >= 1990 and year <2000:
        return "90s"
    elif year >= 2000 and year <2010:
        return "2000s"
    else:
        return "2010s"

crime["decade"] = crime.Year.apply(decade)
crime.head()
crime.groupby("decade").mean()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
decade,,,,,,,,,,,,
2000s,2004.5,294796911.7,11501204.4,1396805.6,10094436.9,16306.8,92249.9,423036.6,865212.4,2156517.6,6797029.1,1141283.4
2010s,2012.0,314029261.4,10033593.4,1214403.4,8819190.0,14573.4,84211.8,349961.8,752828.4,2025034.0,6080339.6,713816.0
60s,1964.5,191505317.5,4929590.0,413493.0,4516090.0,10618.0,23672.0,163351.0,215852.0,1332110.0,2654770.0,529210.0
70s,1974.5,212119329.8,10099160.0,960793.0,9138380.0,19223.0,55457.0,415902.0,470212.0,2848600.0,5315780.0,973990.0
80s,1984.5,237137006.9,13112336.9,1407432.8,11704890.0,20643.9,86563.9,538310.9,761913.0,3307349.4,7204025.3,1193541.1
90s,1994.5,261282525.8,13658214.6,1752704.8,11905349.9,21166.4,99882.7,574893.0,1056896.3,2675001.5,7767936.6,1462441.8

### Step 9. What is the most dangerous decade to live in the US?

In [42]:
crime.groupby("decade")["Total"].sum().sort_values(ascending = False)

decade
90s      136582146
80s      131123369
2000s    115012044
70s      100991600
2010s     50167967
60s       49295900
Name: Total, dtype: int64