# Series Basics Exercise

**Work with the `bestsellers.csv` dataset to answer the following questions:**

## Part 1
* Retrieve a series that contains the book Names
* Retrieve a series that contains the User Ratings
* Retrieve the first 8 Authors

In [1]:
import pandas as pd

In [4]:
best = pd.read_csv("Data/bestsellers.csv")
best.head(1)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [7]:
type(best.Name)

pandas.core.series.Series

In [8]:
best.Author.head(8)

0                    JJ Smith
1                Stephen King
2          Jordan B. Peterson
3               George Orwell
4    National Geographic Kids
5         George R. R. Martin
6         George R. R. Martin
7                 Amor Towles
Name: Author, dtype: object

## Part 2
* Find the unique Genres
* Find the number of unique Authors
* Find the average Price
* Find the 10 highest prices

In [9]:
best.head(1)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [10]:
best.Genre.unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [11]:
best.Author.nunique()

248

In [12]:
best.Price.mean()

13.1

In [15]:
best[["Price"]].value_counts(sort = "ascending").head(10)

Price
8        52
6        38
9        38
5        36
11       35
4        32
14       30
13       29
10       28
12       27
Name: count, dtype: int64

## Part 3
* Find the top 3 most common book titles in the dataset
* Create a new dataframe with only Author and User Rating.
* Using the new dataframe, find the most common combination of Author and User Rating Score.

In [16]:
best.head(1)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [17]:
best.Name.value_counts().head(3)

Name
Publication Manual of the American Psychological Association, 6th Edition    10
StrengthsFinder 2.0                                                           9
Oh, the Places You'll Go!                                                     8
Name: count, dtype: int64

In [18]:
best_small = best[["Author","User Rating"]]

In [20]:
best_small.head(1)

     Author  User Rating
0  JJ Smith          4.7

In [21]:
best_small.value_counts()

Author                              User Rating
Jeff Kinney                         4.8            10
American Psychological Association  4.5            10
Gallup                              4.0             9
Rick Riordan                        4.8             9
Dr. Seuss                           4.9             8
                                                   ..
Ken Follett                         4.5             1
Kevin Kwan                          4.3             1
Khaled Hosseini                     4.3             1
DK                                  4.5             1
Jeff Kinney                         4.9             1
Name: count, Length: 301, dtype: int64

## Part 4
* Create a pie chart showing the total number of times each Genre appears in the dataset.
* Find out the top 10 most prolific authors and plot their number of books as a bar plot
* BONUS: create a histogram showing the distribution of User Rating scores