## Types & NA Values Exercise

**This exercise uses the `netflix_titles.csv` dataset**

In [3]:
# Import the netflix_titles.csv dataset, making sure to pass the correct separator character
import pandas as pd
nf = pd.read_csv("data/netflix_titles.csv", sep="|", index_col=1)
nf.head(1)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s1,0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [6]:
#Quite a few rows are missing a value for country. Find the rows with no country
nf[nf["country"].isna()].head(1)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s3,2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [10]:
#Find the rows with no director, cast, AND country listed

director = nf.director.isna()
cast = nf.cast.isna()
country = nf.country.isna()

nf[director & cast & country].head(1)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s4,3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."

In [12]:
#Drop all rows in the dataframe that have at least one NA value (not inplace!)
nf.dropna(how = "any").head(1)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s8,7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."

In [14]:
#Drop all columns in the dataframe that contain at least one NA value, not inplace!
nf.dropna(axis = 1)

,Unnamed: 0,type,title,release_year,listed_in,description
show_id,,,,,,
s1,0,Movie,Dick Johnson Is Dead,2020,Documentaries,"As her father nears the end of his life, filmm..."
s2,1,TV Show,Blood & Water,2021,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
s3,2,TV Show,Ganglands,2021,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
s4,3,TV Show,Jailbirds New Orleans,2021,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
s5,4,TV Show,Kota Factory,2021,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...
s8803,8802,Movie,Zodiac,2007,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
s8804,8803,TV Show,Zombie Dumb,2018,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
s8805,8804,Movie,Zombieland,2009,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
s8806,8805,Movie,Zoom,2006,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
s8807,8806,Movie,Zubaan,2015,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [16]:
#Drop all rows in the dataset that have a missing director or cast (not inplace!)
nf.dropna(subset = ["director", "cast"]).head(1)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s3,2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [18]:
# Find the rows that are missing a "rating"
# Replace the na ratings with "TV-MA" USING .loc[] 
nf[nf.rating.isna()].head(1)

,Unnamed: 0,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,,
s5990,5989,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...

In [33]:
# Fill the missing "country" values with the most common (mode) country value, inplace!
# Do this using fillna, rather than .loc  


a = nf["country"].mode()
nf["country"].fillna(a[0])

show_id
s1       United States
s2        South Africa
s3       United States
s4       United States
s5               India
             ...
s8803    United States
s8804    United States
s8805    United States
s8806    United States
s8807            India
Name: country, Length: 8807, dtype: object

In [32]:
type(nf["country"].mode()[0])

str

In [31]:
type(nf["country"].value_counts().head(1))

pandas.core.series.Series