# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [2]:
import pandas as pd
best = pd.read_csv("data/bestsellers.csv")

In [3]:
best.head(1)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [4]:
best["User Rating"].min()

3.3

In [6]:
best["Price"].max()

105

In [7]:
best["User Rating"].mean()

4.618363636363637

In [8]:
best["User Rating"].head(5).mean()

4.7

In [9]:
best["User Rating"].mode()

0    4.8
Name: User Rating, dtype: float64

In [10]:
best.Reviews.sum()

6574305

In [13]:
best.Author.mode()

0    Jeff Kinney
Name: Author, dtype: object

In [14]:
best.describe(include = 'O')

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310