In [1]:
list_num = [1,2,3]
## Lets say we want to create a new list where every number is increased by 1 for above list 

new_list  =[]
for i in list_num:
    a = i+1
    new_list.append(a)

print(new_list)

[2, 3, 4]

In [2]:
##however a better way to run this with a much neater syntax is through list comprehenseion 
## new_list = [new_item for item in original_list]

new_list1 = [n+1 for n in list_num]
print(new_list1)

[2, 3, 4]

In [3]:
## List comprehension will work with any iterablaes including strings or dictionaries, or tuples or even range

In [4]:
name = "Shubham"
letter_list = [letter.upper() for letter in name]
print(letter_list)

['S', 'H', 'U', 'B', 'H', 'A', 'M']

In [5]:
range_list = [num*2 for num in range(1,5)]
print(range_list)

[2, 4, 6, 8]

<h3> Conditional List Comprehension </h3>

new_list = [new_item for item if list if test]

In [2]:
names = ["Shubham", "Carolina", "Bob", "Rob", "Survi"]
new_list = [name.upper() for name in names if len(name) >= 4]
print(new_list)

['SHUBHAM', 'CAROLINA', 'SURVI']

In [3]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [4]:
list_of_strings = ['9', '0', '32', '8', '2', '8', '64', '29', '42', '99']
numbers = [int(num) for num in list_of_strings]
result = [num for num in numbers if num%2 == 0]
print(result)

[0, 32, 8, 2, 8, 64, 42]

<h3> Dictionary comprehension </h3>

new_dict = {new_key: new_value for item in list}
new_dict = {new_key: new_value for (key,value) in dict.items()}

In [11]:
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "email": "john.doe@email.com",
    "is_student": False
}

inventory = {
    "laptop": 10,
    "mobile": 25,
    "tablet": 5,
    "headphones": 50,
    "charger": 30
}

salaries = {
    "Alice": 55000,
    "Bob": 62000,
    "Charlie": 48000,
    "David": 72000
}


list(person.items())[0][1]

'John Doe'

In [12]:
student_score = {
    "Alex": 89,
    "Shubham": 95,
    "Survi": 87,
    "Sharil": 89,
    "Mummy": 86
}

##Lets create this using list comprehension

names = ["Shubham", "Carolina", "Bob", "Rob", "Survi"]
import random
student_scores = {student: random.randint(80,100) for student in names}
print(student_scores)

{'Shubham': 80, 'Carolina': 93, 'Bob': 82, 'Rob': 94, 'Survi': 84}

In [20]:
passed_students = {student:score for student, score in student_scores.items() if score >= 90}
print(passed_students)

{'Carolina': 93, 'Rob': 94}

In [19]:
for i, j in student_scores.items():
    print(i,j)

for i in student_scores:
    print(i, student_scores[i])

Shubham 80
Carolina 93
Bob 82
Rob 94
Survi 84
Shubham 80
Carolina 93
Bob 82
Rob 94
Survi 84

In [15]:
student_scores["Shubham"]

80

In [28]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
words_list = sentence.split()
new_dict = {item:len(item) for item in words_list}
new_dict

{'What': 4,
 'is': 2,
 'the': 3,
 'Airspeed': 8,
 'Velocity': 8,
 'of': 2,
 'an': 2,
 'Unladen': 7,
 'Swallow?': 8}

In [29]:
weather_c = {"Monday": 12, "Tuesday": 14, "Wednesday": 15, "Thursday": 14, "Friday": 21, "Saturday": 22, "Sunday": 24}

weather_f = {day:(temp_c *9/5)+32 for day, temp_c from weather_c.items()}

print(weather_f)

SyntaxError: invalid syntax (107355062.py, line 3)

<h3> Iterating with DataFrames </h3>

In [31]:
import pandas as pd
student_dict = {
    "student": ["Shubham", "Survi", "Krishna"],
    "score": [80,90,100]
}

new_df = pd.DataFrame(student_dict)
print(new_df)

   student  score
0  Shubham     80
1    Survi     90
2  Krishna    100

In [37]:
for key, value in new_df.items():
    print(key)
    print(value)

##this is not particularly useful as it is iterating through names of columns and data in that column

student
0    Shubham
1      Survi
2    Krishna
Name: student, dtype: object
score
0     80
1     90
2    100
Name: score, dtype: int64

<h3> Iter rows method </h3>

In [39]:
for (index, row) in new_df.iterrows():
    print(row) ## this gives me all rows
    print(row.student) ## this gives me the value of students for all rows

student    Shubham
score           80
Name: 0, dtype: object
Shubham
student    Survi
score         90
Name: 1, dtype: object
Survi
student    Krishna
score          100
Name: 2, dtype: object
Krishna

<h3> NATO alphabet project </h3>

In [55]:
## Reading through the NATO csv file

import pandas as pd

df = pd.read_csv("NATO/nato.csv")
df.head(1)

nato_dict = {row.letter: row.code for (index, row) in df.iterrows()}
for alphabet, word in nato_dict.items():
    if alphabet in "Shubham":
        print(word)

Sierra

In [50]:
a = "Shubham"
if "a" in a:
    print("Good")

Good

In [61]:
a = input("Enter a word")
list_word = [nato_dict[letter.upper()] for letter in a if letter.upper() in nato_dict]
list_word

Enter a word Shubham

['Sierra', 'Hotel', 'Uniform', 'Bravo', 'Hotel', 'Alfa', 'Mike']