In [1]:
with open("weather_data.csv") as file:
    data = file.readlines()
    print(data)

['day,temp,condition\n', 'Monday,12,Sunny\n', 'Tuesday,14,Rain\n', 'Wednesday,15,Rain\n', 'Thursday,14,Cloudy\n', 'Friday,21,Sunny\n', 'Saturday,22,Sunny\n', 'Sunday,24,Sunny']

In [10]:
import csv 

with open("weather_data.csv") as file:
    data = csv.reader(file) ##Creates a new csv object which can be looped through
    print(data)
    temp_list = []
    for i in data:
        if i[1] == "temp":
            pass
        else:
            temp_list.append(int(i[1]))

print(temp_list)

<_csv.reader object at 0x1060fbbc0>
[12, 14, 15, 14, 21, 22, 24]

In [13]:
import pandas as pd

data = pd.read_csv("weather_data.csv")
type(data) ## data is a dataframe

pandas.core.frame.DataFrame

In [18]:
print(data["temp"]) ## reading a specific column - this is a series

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [19]:
## Converting a data frame into a dictionary

data_dict = data.to_dict()

print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [20]:
## Converting a series into a list

data_list = data["temp"].to_list()
data_list

[12, 14, 15, 14, 21, 22, 24]

In [22]:
sum = 0
for i in data_list:
    sum = sum + i
print(sum/len(data_list))

17.428571428571427

In [26]:
## Another way to get the mean would be using the mean function of series in Pandas

print(data["temp"].mean())
print(data["temp"].max())

17.428571428571427
24

In [31]:
## We can even pass it as an attribute instead of square braces

data.condition[0] ## where condition is a column

'Sunny'

In [36]:
## Getting data in a row

data[data.temp == data.temp.max()] ## will get the row where day = Monday

      day  temp condition
6  Sunday    24     Sunny

In [37]:
##Getting a column for specific rows

data[data.temp == data.temp.max()].temp

6    24
Name: temp, dtype: int64

In [38]:
## Creating a data frame from scratch

data_dict = {
    "students": ["Amy", "James", "Angela"],
    "scores": [75,55,65]
}


data = pd.DataFrame(data_dict)
data.to_csv("DAy25_new_data.csv")

<h3> Squirrel Data Analysis </h3>

In [44]:
data = pd.read_csv("squirrel_data.csv")

In [45]:
data

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [54]:
gray = data[data["Primary Fur Color"] == "Gray"].count()
cinnamon = data[data["Primary Fur Color"] == "Cinnamon"].count()
black = data[data["Primary Fur Color"] == "Black"].count()

squirrel_dict = {"Color": ["Gray", "Cinnamon", "Black"],
                 "Count": [gray, cinnamon, black]}

squirrel_count = pd.DataFrame(squirrel_dict)
squirrel_count.to_csv("Squirrel_Count.csv")

<h3> US States Game </h3>

In [7]:
import pandas as pd

## Reading the names of states and their location on the map
data_states =  pd.read_csv("day-25-us-states-game-start/50_states.csv")
data_states.head(1)
a = "ohio"
if a.lower() in  data_states.state.str.lower().values:
    b = data_states[data_states.state.str.lower() == a]["x"].iloc[0]
    print(b)

176

In [1]:
import turtle
from turtle import Turtle, Screen
%gui tk
import pandas as pd
import tkinter.messagebox

## Reading the names of states and their location on the map
data_states =  pd.read_csv("day-25-us-states-game-start/50_states.csv")
data_states.head(1)



screen = turtle.Screen()
screen.title("US States Game")
image  = "day-25-us-states-game-start/blank_states_img.gif"
screen.addshape(image)
turtle.shape(image)

class ScoreBoard(Turtle):
    def __init__(self):
        super().__init__()
        self.score = 0
        self.color("black")
        self.penup()
        self.hideturtle()

    def display_score(self):
        self.clear()
        ##self.penup()
        self.goto(0,250)
        self.write(f"Score: {self.score}", align="center", font=("Arial", 24, "normal"))

    def game_over(self):
        self.goto(0, 0)
        self.write("GAME OVER", align="center", font=("Arial", 24, "normal"))

    def increase_score(self):
        self.score += 1
        self.clear()
        self.display_score()


    def display_state(self, state, x, y):
        self.penup()
        self.goto(x,y)
        self.write(state, align="center", font=("Arial", 12, "normal"))

def game_play():
    counter =  0
    while counter <= 5:
        answer_state = screen.textinput(title = "Guess the state", prompt = "Another state's name")
        if answer_state.lower() in  data_states.state.str.lower().values:
            tkinter.messagebox.showinfo("Result", f"Correct, good job! You have {5-counter} lives left")
            score.increase_score()
            xcor = data_states[data_states.state.str.lower() == answer_state]["x"].iloc[0]
            ycor = data_states[data_states.state.str.lower() == answer_state]["y"].iloc[0]
            score_new = ScoreBoard()
            score_new.display_state(answer_state, xcor, ycor)
        else:
            tkinter.messagebox.showinfo("Result", f"Sorry, try again! You have {5-counter} lives left")
            counter += 1
            
        


score = ScoreBoard()
score.display_score()
game_play()

turtle.mainloop()

In [2]:
counter = 0
print(f"Result, Correct, good job!, you have {5-counter} lives left")

Result, Correct, good job!, you have 5 lives left